# Dependencies
node_modules/
.venv*/
venv/
__pycache__/
*.pyc

# Project notes / todos
todo.txt

# Environment
.env
.env.*
!.env.example

# Local Database & Uploads
uploads/
library.json
!library.example.json

# Logs
*.log
